@media screen and (max-width:1800px) {}

@media screen and (max-width:1660px) {
    #s0 .rel {
        max-width: 140rem;
    }
}

@media screen and (max-width:1280px) {
    #s0 .rel {
        max-width: 108rem;
    }

    #s0 .fish_img {
        width: 30rem;
    }

    #s0 h1.tit {
        font-size: 7rem;
    }

    #s0 .tit_wrap::before {
        right: -4rem;
    }

    #s1 .rel {
        flex-direction: column;
    }

    #s1 .s1_img_wrap {
        left: 2rem;
        top: 8rem;
        height: 35rem;
        width: 25rem;
        margin: auto;
    }

    #s1 .profile_wrap {
        margin: 10rem auto 0;
    }

    .pf_con {
        min-height: 20rem;
    }

    .pf_con>dl>dt {
        padding: .5rem;
    }

    .pf_con dd {
        padding: .5rem;
    }

    .pf_con ul li a {
        padding: .5rem;
    }

    .skill_lst li {
        padding: .5rem;
    }

    .pf_con ul.key li {
        padding: 1.2rem .5rem;
    }

    #s1 .s1_img_wrap .tit {
        font-size: 4.5rem;
        top: 18rem;
    }

    /* #s1 .s1_img_wrap::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 25%;
        background: rgb(218, 218, 218);
        background: linear-gradient(180deg, rgba(218, 218, 218, 0) 0%, rgba(217, 217, 217, 1) 100%);
        left: -50rem;
        bottom: -1px;
    } */

    #s2 .img_wrap {
        width: 60rem;
        height: 46rem;
        right: -2rem;
    }

    #s2 .circle_wrap.c3 {
        width: 50rem;
        height: 50rem;
        right: 30rem;
        top: 5rem;
    }

    #s3 .tit_wrap {
        text-align: center;
        flex-direction: column;
        margin-bottom: 20rem;
    }

    #s3 .rel {
        max-width: 120rem;
    }

    #s3 .right {
        top: 20rem;
        margin: auto;
    }

    #s3 .tit_wrap img {
        top: -2rem;
        position: relative;
    }

    #s2 .rel,
    #s4 .rel {
        max-width: 100rem;
    }

    #s4 .img_wrap {
        width: 60rem;
        height: 50rem;
        right: 0rem;
    }

    #s4 {
        background-size: 80%;
        background-position: right bottom;
    }

    #s5 .bottom {
        margin: auto;
        max-width: 100rem;
    }

    #s7 .rel .tit_wrap .s7_fish {
        width: 20rem;
    }
}

@media screen and (max-width:767px) {
    #s0 .rel {
        max-width: 66rem;
    }

    #s0 .tit_wrap {
        max-width: 32rem;
        text-align: left;
    }

    #s0 .circle_wrap.c2 {
        right: -4rem;
        width: 48rem;
        height: 48rem;
    }

    #s0 .circle_wrap1 {
        width: 20rem;
        height: 20rem;
    }

    #s0 .fish_img {
        width: 25rem;
        right: 5rem;
        top: calc(50% - 3rem);
    }

    #s0 p.txt {
        display: contents;
    }

    #s1 .rel {
        flex-direction: column;
    }

    #s2 .tit_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #s1 .s1_img_wrap {
        height: 35rem;
        left: 2rem;
        margin-top: 8rem;
    }

    #s2 .tit_wrap img {
        width: 20rem;
    }

    #s1 .pf_con h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    #s1 .s1_img_wrap .tit {
        font-size: 4rem;
        bottom: 10rem;
        left: -6rem;
    }

    #s1 .profile_wrap {
        margin-top: 10rem;
        width: 60rem;
    }

    h1.tit {
        font-size: 5rem;
        text-align: center;
    }

    #s2 .rel {
        flex-direction: column;
    }

    #s2 .tit_wrap {
        background-position: center top 20rem;
    }

    p.txt {
        display: none;
    }

    .style_guide {
        display: none;
    }

    #s2 .img_wrap {
        margin: 22rem auto 0;
        width: 51rem;
        height: 40rem;
    }

    #s2 a.sil_btn {
        position: absolute;
        top: 77rem;
    }

    #s2 .titt {
        font-size: 5rem;
    }

    #s2 .rel .eff {
        right: 10rem;
        bottom: calc(50% - 30rem);
        z-index: 1;
        width: 20rem;
        height: 20rem;
    }

    #s2 .circle_wrap.c3 {
        width: 40rem;
        height: 40rem;
        left: 25rem;
        top: 18rem;
    }

    #s3 .rel {
        flex-direction: column;
        align-items: center;
    }

    #s3 .left .img_wrap {
        width: 52rem;
        height: 34rem;
        margin: auto;
    }

    #s3 .left {
        top: 0;
        margin-top: 10rem;
        order: 2;
    }

    #s3 .right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        order: 1;
    }

    #s3 .tit_wrap img {
        top: -2rem;
        position: relative;

    }

    #s3 .s3_tit,
    #s3 .s3_titt {
        font-size: 5rem;
        margin: 0 auto;
    }

    #s3 a.bl_btn {
        position: relative;
        top: 25rem;
    }

    #s4 {
        background: url(../img/s4_bg_m.png) no-repeat left top / 80%;
    }

    #s3 .txt_wrap {
        text-align: center;
    }

    #s3 .circle_wrap.c4 {
        width: 20rem;
        height: 20rem;
        left: 5rem;
        top: 12rem;
    }

    #s4 .rel {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #s4 .tit,
    #s4 .titt {
        font-size: 5rem;
        margin: 0 auto;
        font-weight: 900;
    }

    #s4 .img_wrap .deco {
        right: 0;
        top: 0;
    }

    #s4 .tit_wrap img {
        top: 1rem;
        width: 8.5rem;
    }

    #s4 .tit_wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        order: 2;
        background-position: center top 18rem;
    }

    #s4 .bl_btn {
        position: relative;
        top: 2rem;
    }

    #s4 .img_wrap {
        order: 1;
    }

    #s5 .img_wrap {
        width: 57rem;
        height: 40rem;
        margin-top: 4rem;
    }

    #s5 .img_wrap .dsk_img {
        width: 100%;
        height: 100%;
    }

    #s5 .img_wrap .dsk_img .in {
        width: 44.5rem;
        height: 33.5rem;
        left: 6.2rem;
        top: 3.4rem;
    }


    #s5 .circle_wrap.c5 {
        width: 35rem;
        height: 35rem;
        left: 10rem;
        display: none;
    }

    #s5 .circle_wrap.c6 {
        width: 20rem;
        height: 20rem;
        left: 5rem;
        top: 5rem;
    }

    #s5 .circle_wrap.c7 {
        width: 25rem;
        height: 25rem;
        right: 0rem;
        bottom: 5rem;
    }

    #s6 .img_wrap {
        flex-direction: column;
        width: 50rem;
        height: 55rem;
        margin-top: 4rem;
    }

    #s6 h1.tit {
        text-align: center;
    }

    #s6 .img_wrap .banner {
        width: 50rem;
    }

    #s6 .img_wrap .design {
        width: 100%;
        height: 100%;
    }

    #s6 h1.tit {
        max-width: 50rem;
    }

    #s6 .img_wrap .design li:nth-child(1) {
        background: url(../img/s6_img_list1_m.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(2) {
        background: url(../img/s6_img_list2_m.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(3) {
        background: url(../img/s6_img_list3_m.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(4) {
        background: url(../img/s6_img_list4_m.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(5) {
        background: url(../img/s6_img_list5_m.png) no-repeat;
    }

    #s6 .img_wrap .banner {
        display: flex;
        align-items: center;
    }

    #s6 .img_wrap .banner li.act {
        background: transparent;
        height: auto;
    }

    #s6 .img_wrap .banner li.act a {
        font-size: 1.2rem;
        height: auto;
        background-color: transparent;
    }

    #s6 .img_wrap .banner li {
        text-align: center;
        width: 10rem;
        border: none;
    }

    #s6 .img_wrap .banner li a {
        letter-spacing: .3rem;
        display: inline-block;
        width: 80%;
        height: .3rem;
        font-size: 0;
        background-color: #d9d9d9;
        /* margin: 0 1rem; */
    }

    #s6:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 40rem;
        top: 0;
        z-index: -1;
        background: #000000 url(../img/s6_bg_m.png) repeat-x center top -20rem;
    }

    #s7 {
        background-position: center;
        background-size: 80%;
    }

    #s7 .rel .tit_wrap .s7_fish {
        right: 8rem;
    }
}

@media screen and (max-width:599px) {
    section#s0 {
        height: auto;
    }

    #s0 .rel {
        padding: 25rem 0;
        max-width: 33rem;
        top: 0;
    }

    #s0 p.txt {
        display: contents;
        font-size: 1.3rem;
    }

    #s0 h1.tit {
        margin-bottom: 2.5rem;
    }

    #s0 .circle_wrap.c2 {
        right: -4rem;
        width: 33rem;
        height: 33rem;
        bottom: 3rem;
    }

    #s0 .circle_wrap1 {
        width: 12rem;
        height: 12rem;
        left: -3.5rem;
        top: 5rem;
    }

    #s0 .c1 .circle {
        width: 6px;
        height: 6px;
        margin: 2px;
    }

    #s0 .fish_img {
        width: 23rem;
        right: 10rem;
        top: 55rem;
    }

    #s0 .tit_wrap::before {
        width: 4rem;
        right: 0rem;
    }

    #s0 .tit_wrap {
        max-width: 28.5rem;
    }

    #s1 .rel {
        flex-direction: column;
        height: auto;
    }

    #s1 .s1_img_wrap {
        margin-top: 3rem;
        top: 0;
        left: 0;
    }

    ul.licen {
        display: flex;
        flex-wrap: wrap;
    }

    #s1 .profile_wrap {
        width: 32rem;
    }

    #s1 .skill_lst li {
        padding-bottom: .2rem;
    }

    #s1 .logo_wrap {
        padding-left: 3rem;
        margin: auto;
    }

    #s1 .skill_lst li .logo_wrap {
        width: 30%;
    }

    #s1 .profile_wrap {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 0;
        padding-bottom: 5rem;
    }

    #s1 {
        height: auto;
    }


    .pf_con {
        width: 28rem;
        min-height: 11rem;
        margin-top: 1rem;
    }

    .pf_con ul li {
        padding-left: 0;
    }

    #s2 .img_wrap {
        width: 39rem;
        height: 30rem;
    }

    #s2 .circle_wrap.c3 {
        width: 30rem;
        height: 30rem;
        left: 10rem;
        top: 25rem;
    }

    #s2 {
        height: auto;
    }

    #s2 .rel .eff {
        right: 4rem;
        width: 14rem;
        height: 14rem;
        bottom: 15rem;
    }

    #s2 a.sil_btn {
        top: 70rem;
    }

    #s3 {
        padding-bottom: 15rem;
        height: auto;
    }

    #s3 .rel {
        max-width: 35rem;
    }

    #s3 .right {
        width: 33rem;
        height: 20rem;
        margin-left: 0;
    }

    #s3 .left .img_wrap {
        width: 32rem;
        height: 21rem;
        margin: 23rem auto 0;
    }

    #s3 a.bl_btn {
        top: 15rem;
    }

    #s4 a.bl_btn {
        top: 7rem;
        margin-top: 0;
    }


    #s4 {
        padding: 15rem 0;
        background-size: 110%;
        height: auto;
    }

    #s4 .img_wrap {
        width: 33rem;
        height: 25rem;
    }

    #s4 .tit_wrap {
        background-size: 8rem;
        background-position: center bottom 11rem;
    }



    #s5 {
        padding: 20rem 0;
        height: auto;
    }

    #s5 .tit_wrap {
        text-align: center;
        margin-top: 5rem;
    }

    #s5 .bottom {
        bottom: auto;
        max-width: 28rem;
    }

    #s5 .img_wrap {
        width: 33rem;
        height: 23rem;
    }

    #s5 a.sil_btn {
        line-height: 3.5rem;
        padding: 0 2rem;
    }

    #s5 .img_wrap .dsk_img .in {
        width: 26rem;
        height: 19.5rem;
        left: 3.4rem;
        top: 2rem;
    }

    #s5 .s5_fish {
        width: 10rem;
        left: -2rem;
    }

    #s5 .circle_wrap.c5 {
        width: 28rem;
        height: 28rem;
        left: 3rem;
    }

    #s5 .circle_wrap.c6 {
        width: 23rem;
        height: 23rem;
        left: -12rem;
        top: 5rem;
    }

    #s5 .circle_wrap.c7 {
        width: 25rem;
        height: 25rem;
        display: none;
    }

    nav {
        top: auto;
        bottom: 2rem;
        right: 1.5rem;
        transform: translateY(0);
    }

    #s6 {
        height: auto;
        padding-top: 20rem;
    }

    #s6 .img_wrap {
        width: 32rem;
        height: 34rem;
        margin: 5rem auto;
    }

    #s6 .img_wrap .design {
        width: 32rem;
        height: 29rem;
        /* margin: auto; */
    }

    #s6:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 63rem;
        top: 0;
        z-index: -1;
        background: #000000 url(../img/s6_bg_m.png) no-repeat left top 15rem/ 85%;
    }

    #s6 .img_wrap .design li:nth-child(1) {
        background: url(../img/s6_img_list1_mm.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(2) {
        background: url(../img/s6_img_list2_mm.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(3) {
        background: url(../img/s6_img_list3_mm.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(4) {
        background: url(../img/s6_img_list4_mm.png) no-repeat;
    }

    #s6 .img_wrap .design li:nth-child(5) {
        background: url(../img/s6_img_list5_mm.png) no-repeat;
    }

    #s6 .img_wrap .banner {
        width: 33rem;
    }

    #s7 .rel .tit_wrap .s7_fish {
        width: 11rem;
        right: 6rem;
        top: -9rem;
    }

    #s7 h1.tit {
        font-size: 3.5rem;
    }

}